- @students_tree.each do |school|
  - school_name = school[0]
  - class_rooms = school[1]

  h2 = school_name
  .row
    - class_rooms.each do |subj|
      - subject = subj[0]
      - students = subj[1]

      .col
        h4 = subject
        ul
          - students.each do |student|
            li = student
