h1 Statistics

h3
  | Total schools:
  span =< @stats['schools_count']
h3
  | Average class rooms in school:
  span =< @stats['avg_class_rooms']
h3
  | Average students in class_room:
  span =< @stats['avg_students']
